.form__header {
  display: block;
  margin: 0;
  margin-bottom: 21px;

  @include fontprop(#000000, 18px, 26px);
  font-weight: bold;
  text-align: center;

  &--emotions {
    margin-bottom: 17px;
  }
}

.form__label {
  display: inline-block;
  margin-right: 15px;

  @include fontprop(#333333, 14px, 26px);

  &--upper {
    margin-left: 22px;
    margin-bottom: 5px;
  }
}

.form__user {
  border: none;
  padding-bottom: 5px;
}

.form__user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__user-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form__input {
  flex-grow: 1;
  width: 100px;

  &--email,
  &--telephone {
    width: 100%;
    padding-right: 80px;
  }
}

.form__telephone,
.form__email {
  position: relative;
  display: block;
}

.form__telephone::before,
.form__email::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
}

.form__telephone::before {
  background-image: url("../../img/icon-phone.svg");
}

.form__email::before {
  background-image: url("../../img/icon-mail.svg");
}

.form__contacts {
  padding-bottom: 15px;
  border: none;
}

.form__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__contacts-item {
  margin-bottom: 14px;
}

.form__label-radio,
.form__label-checkbox {
  @include fontprop(#333333, 18px, 26px);
  font-weight: bold;
  text-transform: none;
}

.form__impression {
  border: none;
}

.form__impression-list {
  padding: 0;
  list-style: none;
}

.form__impression-item {
  margin-bottom: 43px;
}

.form__sight {
  padding-bottom: 16px;
  border: none;
}

.form__sight-list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

.form__sight-item {
  margin-bottom: 54px;

  &:last-child {
    margin-bottom: 25px;
  }
}

.form__emotions {
  border: none;
}

.form__emotions-text {
  height: 160px;
  width: 100%;

  margin-bottom: 48px;

  resize: none;
}

.form__submit {
  width: 100%;

  margin: 0 auto;
  margin-bottom: 51px;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__header {
    margin-bottom: 57px;

    font-size: 21px;
    text-align: left;

    &--centered {
      margin-bottom: 25px;

      text-align: center;
    }

    &--contacts {
      padding: 0 61px;
    }

    &--sight {
      margin: 0 125px;
      margin-bottom: 56px;
      padding: 0 63px;
    }

    &--emotions {
      margin-bottom: 57px;
    }
  }

  .form__user {
    padding-left: 58px;
    padding-bottom: 0;
  }

  .form__user-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__contacts,
  .form__sight {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 14px;
  }

  .form__sight {
    margin-bottom: 6px;
  }

  .form__contacts-item {
    margin-bottom: 25px;
  }

  .form__impression-item {
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__sight-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0 100px;
    padding-right: 33px;
  }

  .form__sight-item {
    width: 50%;
    margin-bottom: 62px;
  }

  .form__emotions {
    margin-bottom: 46px;
  }

  .form__emotions-text {
    margin-bottom: 55px;
  }

  .form__submit {
    width: 50%;

    padding-left: 65px;
    margin: 0;
    margin-bottom: 51px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form__contacts-list {
    display: flex;
    justify-content: space-between;
  }

  .form__contacts-item {
    width: auto;
  }

  .form__sight-list {
    padding: 0;
  }

  .form__sight-item {
    width: auto;
  }

  .form__telephone,
  .form__email {
    display: inline-block;
    width: 240px;
  }
}
