.gallery__list {
  @include resetlist;
}

.gallery__item {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 50%;
  }

  .gallery__item--wide {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__item {
    width: 33.333333%;
  }

  .gallery__item--wide {
    width: 100%;
  }
}
