.interest__header {
  @include fontprop(#000000, 21px, 26px);
  font-weight: bold;
  text-align: center;
}

.interest__description {
  @include fontprop(#333333, 14px, 24px);
  text-align: center;
}

.interest__map {
  border: none;
}
