.interest__header {
  margin: 0;
  margin-bottom: 20px;

  @include fontprop(#000000, 21px, 26px);
  font-weight: bold;
  text-align: center;
}

.interest__description {
  margin-bottom: 35px;
  padding: 0 20px;

  @include fontprop(#333333, 14px, 24px);
  text-align: center;
}

.interest__button {
  width: 88%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.interest__map-wrapper {
  position: relative;
  height: 350px;
  margin: 0 auto;

  background-color: #f3f1ed;
}

.interest__map {
  position: relative;
  display: block;

  width: 100%;
  height: 350px;

  z-index: 2;
  border: none;
}

.interest__map-image {
  position: absolute;

  top: 0;
  left: calc(50% - 160px);

  width: 320px;
  height: 350px;

  z-index: 1;
}

@media (min-width: $tablet-width) {
  .interest__header {
    font-size: 30px;
    margin-bottom: 31px;
  }

  .interest__description {
    margin-bottom: 42px;
    padding: 0 145px;
  }

  .interest__button {
    width: 60%;
    margin-bottom: 58px;
  }

  .interest__map-image {
    left: calc(50% - 384px);
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .interest__description {
    margin-bottom: 47px;
    padding: 0 360px;
  }

  .interest__button {
    width: 38%;
    margin-bottom: 66px;
  }

  .interest__map-image {
    left: calc(50% - 600px);
    width: 1200px;
  }
}
