.page-footer {
  background-color: #fefefe;
}

.page-footer__hashtag {
  @include fontprop(#000000, 21px, 26px);
  font-weight: bold;
  text-align: center;
}

.page-footer__developer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
