.page-form__wrapper {
  padding: 0 20px;
  padding-top: 18px;

  border-bottom: 1px solid #e5e5e5;

  &--noborder {
    border-bottom: none;
  }

  &:first-child {
    border-top: 1px solid #e5e5e5;
  }
}

.page-form__header {
  margin-bottom: 27px;

  @include fontprop(#000000, 18px, 26px);
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.4px;
}

.page-form__description {
  margin: 0;
  margin-bottom: 17px;

  @include fontprop(#333333, 14px, 24px);
  text-align: center;
  letter-spacing: 0.1px;
}

.page-form__popup {
  position: fixed;
  display: none;

  &--success {
    top: calc(50% - 162px);
    left: calc(50% - 160px);
  }

  &--fail {
    top: calc(50% - 140px);
    left: calc(50% - 160px);
  }
}

/* -------------Планшетная версия------------- */
@media (min-width: $tablet-width) {
  .page-form {
    padding: 0 60px;
  }

  .page-form__wrapper {
    width: 100%;
    padding: 0;

    border: none;

    &--half {
      width: 50%;
      margin-bottom: 70px;
    }

    &--first {
      order: -1;
    }

    &:first-child {
      border: none;
      border-left: 1px solid #e5e5e5;
    }
  }

  .page-form__header {
    margin-bottom: 30px;

    font-size: 30px;
  }

  .page-form__description {
    margin-bottom: 74px;
    padding: 0 100px;
  }

  .page-form__popup {
    top: calc(50% - 174px);

    &--success {
      left: calc(50% - 320px);
    }

    &--fail {
      left: calc(50% - 200px);
    }
  }
}

/* -------------Десктопная версия------------- */
@media (min-width: $desktop-width) {
  .page-form {
    padding: 0 120px;
  }

  .page-form__wrapper {
    &--half {
      margin-bottom: 67px;
    }
  }

  .page-form__description {
    margin-bottom: 59px;
    padding: 0 255px;
  }
}
