.page-container {
  width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-container {
    width: $tablet-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-container {
    width: $desktop-width;
    margin: 0 auto;
  }
}
