.page-container {
  // width: $mobile-width;
  // margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-container {
    // width: $tablet-width;
    // margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-container {
    width: $desktop-width;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
