.page-photo__header {
  margin-bottom: 25px;

  @include fontprop(#000000, 18px, 26px);
  text-align: center;
}

.page-photo__description {
  margin-bottom: 40px;

  @include fontprop(#333333, 14px, 24px);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-photo__header {
    margin-bottom: 25px;
  }

  .page-photo__description {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo__header {
    margin-bottom: 35px;
  }

  .page-photo__description {
    margin-bottom: 80px;
  }
}
