.photo {
  @include fontprop(#000000, 14px, 24px);
  box-shadow: 0 1px 0 0 #e5e5e5;

  &:first-child {
    box-shadow: 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
  }
}

.photo__wrap {
  @include indents_null;
}

.photo__link {
  display: block;
  margin-bottom: 10px;
}

.photo__image {
  width: 100%;
}

.photo__header {
  @include indents_null;
  font-weight: bold;
}

.photo__author {
  text-transform: none;
}

.photo__like {
  width: 25px;
  height: 25px;
  font-size: 0;

  vertical-align: middle;

  border: none;

  background-color: transparent;
  background-image: url("../../img/icon-like.svg");
  background-repeat: no-repeat;
}

.photo__likes-value {
  font-weight: bold;
}
