.photo {
  @include fontprop(#000000, 14px, 24px);
}

.photo__wrap {
  @include indents_null;
}

.photo__image {
  width: 100%;
}

.photo__header {
  font-weight: bold;
}

.photo__author {
  text-transform: none;
}

.photo__like {
  width: 25px;
  height: 25px;
  font-size: 0;

  vertical-align: middle;

  border: none;

  background-color: transparent;
  background-image: url("../../img/icon-like.svg");
  background-repeat: no-repeat;
}

.photo__likes-value {
  font-weight: bold;
}
