.photo {
  @include fontprop(#000000, 14px, 24px);
  padding: 20px;
  padding-top: 22px;
  padding-bottom: 17px;

  border-bottom: 1px solid #e5e5e5;

  &:first-child {
    border-top: 1px solid #e5e5e5;
  }
}

.photo__wrap {
  @include indents_null;
}

.photo__link {
  display: block;
  margin-bottom: 15px;
}

.photo__image {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.photo__header {
  margin: 0;

  @include fontprop(#000000, 14px, 24px);
  font-weight: bold;
  word-spacing: 1px;
}

.photo__author {
  margin: 0;
  margin-bottom: 7px;
  text-transform: none;
}

.photo__like {
  font-weight: bold;
  vertical-align: bottom;
  word-spacing: 8px;
}

.photo__like-button {
  width: 25px;
  height: 25px;
  font-size: 0;

  vertical-align: top;

  border: none;

  background-color: transparent;
  background-image: url("../../img/icon-like.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .photo {
    padding: 0;
    border: none;
  }

  .photo__link {
    height: 267px;
    width: 100%;

    margin-bottom: 0;
    line-height: 0;
    overflow: hidden;

    &--wide {
      height: 400px;
    }
  }

  .photo__image {
    width: 100%;
    height: auto;

    &--large {
      height: auto;
    }
  }

  .photo__caption {
    display: flex;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 10px;

    background-color: #f2f2f2;
  }

  .photo__details {
    width: 76%;
    padding-right: 20px;

    &--wide {
      width: 89%;
    }
  }

  .photo__author {
    margin-bottom: 6px;
  }

  .photo__like {
    padding-top: 12px;

    word-spacing: 1px;
  }
}

@media (min-width: $desktop-width) {
  .photo__wrap {
    position: relative;
  }

  .photo__caption {
    position: absolute;

    bottom: 0;
    width: 100%;

    padding-right: 5px;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__details {
    width: 79%;
    padding-right: 20px;

    &--wide {
      width: 93.3%;
    }
  }

  .photo__header {
    color: #ffffff;
  }

  .photo__author {
    color: #ffffff;
  }

  .photo__like {
    color: #ffffff;
  }

  .photo__like-button {
    background-image: url("../../img/icon-like-desktop.svg");
  }
}
