.reasons__introduction {
  margin-bottom: 6px;
  padding: 0 25px;

  @include fontprop(#333333, 14px, 26px);
  text-align: center;
}

.reasons__list {
  @include indents_null;
  list-style: none;
}

.reasons__text {
  padding: 0 20px;
  padding-bottom: 25px;
  background-color: $light-grey-blue;

  &--bggrey {
    background-color: #eeeeee;
  }

  &--background {
    padding-top: 77px;

    background-image: url("../../img/bg-triangle.svg");
    background-repeat: no-repeat;
  }
}

.reasons__name {
  @include fontprop(#ffffff, 18px, 26px);
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.reasons__name--dark {
  color: #000000;
}

.reasons__description {
  @include fontprop(#ffffff, 14px, 21px);
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.reasons__description--dark {
  color: #333333;
}

.reason-one__list {
  list-style: none;
  background-color: #ffffff;
}

.reason-one__header {
  @include fontprop(#000000, 18px, 26px);
  margin: 0;
  font-weight: bold;
}

.reason-one__description {
  @include fontprop(#333333, 14px, 21px);
  margin: 0;
}

.reasons__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .reasons__introduction {
    margin-bottom: 0;
  }

  .reasons__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .reasons__item {
    width: 33.333%;
  }

  .reasons__item--near {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .reasons__text {
    width: 100%;
    height: 260px;
  }

  .reasons__text--near {
    width: 33.333%;
  }

  .reasons__text--second {
    order: 1;
  }

  .reasons__image {
    flex-grow: 1;
    height: 260px;
  }
}
