.reason-one__list {
  @include resetlist;
  padding-top: 34px;
  padding-bottom: 7px;
  padding-right: 30px;
  padding-left: 70px;
}

.reason-one__item {
  position: relative;
  margin-bottom: 29px;

  &::before {
    content: "";
    display: block;
    position: absolute;

    width: 100px;
    height: 100px;

    background-repeat: no-repeat;
  }

  &--housing::before {
    top: -8px;
    left: -48px;
    background-image: url("../../img/icon-house.svg");
    background-size: 37%;
  }

  &--souvenirs::before {
    top: -11px;
    left: -45px;
    background-image: url("../../img/icon-gift.svg");
    background-size: 32%;
  }

  &--food::before {
    top: -5px;
    left: -51px;
    background-image: url("../../img/icon-burger.svg");
    background-size: 38%;
  }
}

.reason-one__header {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .reason-one__list {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 0;
  }

  .reason-one__item {
    display: block;
    flex-grow: 1;

    width: 33.333%;

    padding: 0 45px;
    padding-top: 157px;

    &::before {
      width: 80px;
      height: 90px;
    }

    &--souvenirs {
      order: 3;
    }

    &--housing::before {
      top: 59px;
      left: calc(50% - 38px);
      background-size: 93%;
    }

    &--souvenirs::before {
      top: 55px;
      left: calc(50% - 34px);
      background-size: 80%;
    }

    &--food::before {
      top: 62px;
      left: calc(50% - 38px);
      background-size: 94%;
    }
  }

  .reason-one__header {
    position: relative;
    margin-bottom: 21px;

    font-size: 21px;
    text-align: center;
  }

  .reason-one__description {
    margin-bottom: 34px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .reason-one__item {
    margin-bottom: 49px;
  }

  .reason-one__header {
    margin-bottom: 23px;
  }

  .reason-one__description {
    padding: 0 10px;
  }

  .reason-one__wrap {
    display: block;
  }
}
