.video__header {
  @include fontprop(#000000, 18px, 26px);
  font-weight: bold;
  text-align: center;
}

.video__description {
  @include fontprop(#333333, 14px, 24px);
  text-align: center;
}

.video__player {
  position: relative;
}

.video__playback {
  bottom: 70px;
  left: 20px;

  position: absolute;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    width: 235;
    height: 3px;
    background-color: white;
  }

  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
  }
}

.video__controls {
  width: 280px;
  height: 66px;
  text-align: center;
  background-color: #f2f2f2;
}

.video__control {
  border: none;
  background-color: transparent;

  &:hover .video__icon,
  &:focus .video__icon {
    fill: #333333;
  }

  &:active .video__icon {
    opacity: 0.3;
  }
}

.video__icon {
  fill: #5c6870;
}
