.video__header {
  margin-bottom: 27px;

  @include fontprop(#000000, 18px, 26px);
  font-weight: bold;
  text-align: center;
}

.video__description {
  padding: 0 25px;
  margin-bottom: 35px;

  @include fontprop(#333333, 14px, 24px);
  text-align: center;
}

.video__player {
  position: relative;
  margin: 0 auto;
}

.video__picture {
  display: block;
  width: 320px;
  height: auto;
  margin: 0 auto;
}

.video__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  width: 280px;
  height: 66px;
  margin: 0 auto;

  padding-top: 3px;
  padding-left: 8px;
  padding-right: 7px;

  text-align: center;
  background-color: #f2f2f2;
}

.video__playback {
  position: absolute;
  left: 0;
  bottom: 66px;
  width: 280px;
  height: 45px;

  background-color: rgba(0, 0, 0, 0.6);
}

.video__line {
  position: absolute;
  top: calc(50% - 1px);
  left: 20px;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__position {
  position: absolute;
  top: calc(50% - 4px);
  left: 16%;
  width: 9px;
  height: 9px;
  padding: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.video__control {
  padding: 0 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #5c6870;

  &:hover .video__icon,
  &:focus .video__icon {
    fill: #333333;
  }

  &:active .video__icon {
    fill: #333333;
    opacity: 0.3;
  }

  &--repeat {
    margin-right: auto;
  }
}

.video__icon {
  fill: #5c6870;
}

@media (min-width: $tablet-width) {
  .video {
    padding: 0 60px;
  }

  .video__picture {
    width: 100%;
  }

  .video__controls {
    position: relative;

    bottom: 93px;
    width: 100%;
    height: 93px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__playback {
    position: relative;
    bottom: auto;
    width: 75%;

    background-color: transparent;
  }

  .video__line {
    left: 5%;
    width: 90%;
  }

  .video__position {
    left: 20%;
  }

  .video__control {
    .video__icon {
      fill: #ffffff;
    }

    &:hover .video__icon,
    &:focus .video__icon {
      fill: #ffffff;
      opacity: 0.6;
    }

    &:active .video__icon {
      fill: #ffffff;
      opacity: 0.3;
    }

    &--repeat {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 0 200px;
  }
}
