@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/*font-family: "PT Sans", "Arial", sans-serif;*/
